
<launch>

  <node pkg="fastslam" type="particle_filter_node" name="particle_filter" output="screen"/>

  <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry" output="screen">
    <remap from="odom" to="gps"/>
  </node>

  <node pkg="fastslam" type="path_history_node" name="path_history" output="screen"/>

</launch>

